.cabecalho {
    align-items: center;
    background-color: var(--cor-do-cabeçalho-mobile);
    box-shadow: var(--cor-sombra);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}

@media screen and (min-width:1440px) {
    .cabecalho {
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabecalho__menu,
    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: var(--cor-fonte-segundaria);
        padding: 9px 32px;
        border-right: 1px solid var(--cor-fonte-segundaria);
    }

    .cabecalho__perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background: url(../../img/profile_2.png) no-repeat center / contain;
    }

    .cabecalho__perfil::after {
        content: "\e90d";
        color: var(--cor-fonte-principal);
        font-size: 1.5rem;
    }
}